@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* Ensures width calculations are correct */
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-areas:
        "sidebar header"
        "sidebar main-content";
    /* gap: 10px; */

}

.sidebar {
    grid-area: sidebar;
}

.header {
    grid-area: header;
    display: grid;
    grid-auto-flow: row;
}

.line-1 {
    display: grid;
    grid-auto-flow: column;
    padding: 25px;
    align-items: center;
}

.line-1a {
    display: grid;
    grid-auto-flow: column;
    width: 750px;
    align-items: center;
    /* gap: 10px; */
}

.line-1b {
    display: grid;
    grid-auto-flow: column;
    width: 300px;
    justify-content: end;
    align-items: center;
    margin-right: 30px;
}

.line-1b> :nth-child(1),
.line-1b> :nth-child(2),
.line-1b> :nth-child(3) {
    margin-left: 25px;
}

.hi{
    font-weight: 550;
    font-size: 16px;
}

.name-id{
    font-weight: 800;
    font-size: 25px;
}

.photo {
    border-radius: 50%;
    height: 50px;
    width: 50px;
}

.photo-2 {
    border-radius: 50%;
    height: 56px;
    width: 56px;
}


.search-bar {
    background-color: #c8c4c43a;
    height: 35px;
    width: 650px;
    border-radius: 12px;
}

.line-2 {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-content: space-between;
    padding: 10px 25px 20px 25px;
}

.line-2a {
    display: grid;
    grid-auto-flow: column;
    width: 600px;
    align-items: center;
    justify-content: start;
    gap: 20px;
}

.btn {
    height: 40px;
    width: 120px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}


.buttons {
    display: grid;
    grid-auto-flow: column;
    /* justify-content: space-around; */
    width: 500px;
    /* margin-right: 40px; */
    
}

.main-content {
    grid-area: main-content;
    background-color: #c8c4c43a;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas:
        "p a"
        "p t";
    /* grid-template-rows: auto; */
    gap: 20px;
    padding: 10px;
}

.p {
    grid-area: p;
}

.a {
    grid-area: a;
}

.t {
    grid-area: t;
}

.projects {
    grid-column: 1;
    grid-row: 1 / 3;
    display: grid;
    grid-template-columns: repeat(2, minmax(14em, 1fr));
    grid-template-rows: auto;
    gap: 20px;
}

.card {
    background-color: white;
    border-left: 8px solid rgb(255, 230, 7);
    border-radius: 9px;
    font-size: 18px;
    padding: 19px;
    height: 12em;

}


.title {
    font-weight: 700;
}

.announcements {
    grid-column: 2;
    grid-row: 1;
    /* background-color: lightcoral; */
}

.trending {
    grid-column: 2;
    grid-row: 2;
}

.t,
.a {
    background-color: white;
    border-radius: 9px;
    font-size: 18px;
    padding: 19px;
}

.btn,
.sidebar {
    background-color: #00a2ff;
    color: white;
    font-weight: 700;
}

.name {
    font-weight: 600;
}

.sidebar {
    padding-left: 25px;
}

.dashboard {
    display: flex;
    gap: 12px;
    font-size: 29px;
    align-items: center;
    margin-bottom: 25px;
    margin-top: 30px;
    padding: 12px;
}

.dashboard>img {
    width: 27px;
    height: 27px;
}

img {
    width: 25px;
    height: 25px;
}

.navigation>div {
    padding-bottom: 10px;
    padding: 12px;

}

.nav-col {
    display: flex;
    gap: 15px;
    font-size: 22px;
}

.navigation {
    padding-bottom: 23px;

}

.branding>div {
    padding-bottom: 10px;
    padding: 12px;
}

.brand-col {
    display: flex;
    gap: 15px;
    font-size: 22px;
}