@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Ensures width calculations are correct */
  }
  
  html, body {
    width: 100%;
    height: 100%;
  }  

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-areas:
        "sidebar header"
        "sidebar main-content";
    /* gap: 10px; */

}

.sidebar {
    grid-area: sidebar;
}

.header {
    grid-area: header;
    display: grid;
    grid-auto-flow: row;
}

.search-bar {
    background-color: #c8c4c43a;
    height: 28px;
    width: 500px;
    border-radius: 12px;
}

.line-2 {
    display: grid;
    grid-auto-flow: column;
}

.btn {
    height: 32px;
    width: 100px;
    border-radius: 14px;
}

.main-content {
    grid-area: main-content;
    background-color: #c8c4c43a;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas:
        "p a"
        "p t";
    /* grid-template-rows: auto; */
    gap: 20px;
    padding: 10px;
}

.p {
    grid-area: p;
}

.a {
    grid-area: a;
}

.t {
    grid-area: t;
}

.projects {
    grid-column: 1;
    grid-row: 1 / 3;
    display: grid;
    grid-template-columns: repeat(2, minmax(14em, 1fr));
    grid-template-rows: auto;
    gap: 20px;
}

.card {
    background-color: white;
    border-left: 6px solid rgb(255, 230, 7);
    border-radius: 9px;
    font-size: 18px;
    padding: 19px;
    height: 12em;

}


.title {
    font-weight: 700;
}

.announcements {
    grid-column: 2;
    grid-row: 1;
    /* background-color: lightcoral; */
}

.trending {
    grid-column: 2;
    grid-row: 2;
}

.t,
.a {
    background-color: white;
    border-radius: 9px;
    font-size: 18px;
    padding: 19px;
}

.btn,
.sidebar {
    background-color: #00a2ff;
    color: white;
    font-weight: 700;
}

.name {
    font-weight: 600;
}

.sidebar{
    padding-left: 25px;
}

.dashboard{
    display: flex;
    gap: 12px;
    font-size: 29px;
    align-items: center;
    margin-bottom: 25px;
    margin-top: 30px;
    padding: 12px;
}

.dashboard > img{
    width: 27px;
    height: 27px;
}

img{
    width: 25px;
    height: 25px;
}

.navigation > div {
    padding-bottom: 10px;
    padding: 12px;

}

.nav-col{
    display: flex;
    gap: 15px;
    font-size: 22px;
}

.navigation{
    padding-bottom: 23px;
    
}

.branding > div {
    padding-bottom: 10px;
    padding: 12px;

}

.brand-col{
    display: flex;
    gap: 15px;
    font-size: 22px;
}